## Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## Environment
.env
.env.local
.env.*.local

## OS generated
.DS_Store
Thumbs.db

## IDEs
.vscode/
.idea/

## Logs
*.log

## Tools & build artifacts
.tools/
imgs/potrace*.zip

## Build artifacts
*.min.css
*.min.js

## Pre-geocoded output
locations.pregeo.json

## Python
venv/
.venv/

## Misc
dist/
build/
